<script>
	import {location} from 'svelte-spa-router'
</script>
<svelte:head>
  <title>404: not found</title>
</svelte:head>

<div class="relative bg-gray-50 overflow-hidden">
  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <main
      class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16
      lg:mt-20 xl:mt-28">
      <div class="text-center">
        <h2
          class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900
          sm:text-5xl sm:leading-none md:text-6xl">
          404
          <br class="xl:hidden" />
          <span class="text-indigo-600">page not found</span>
        </h2>
        <p
          class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg
          md:mt-5 md:text-xl md:max-w-3xl">
          {JSON.stringify($location)} cannot be found.
        </p>
        <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a
              href="#/"
              class="w-full flex items-center justify-center px-8 py-3 border
              border-transparent text-base leading-6 font-medium rounded-md
              text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none
              focus:border-indigo-700 focus:shadow-outline-indigo transition
              duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
              Go home
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
