
<svelte:head>
  <title>Sapper project template</title>
</svelte:head>


<main
  class="flex-1 relative z-0 overflow-y-auto focus:outline-none"
  tabindex="0">
  <!-- Page title & actions -->
  <div
    class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center
    sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
      <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
        Another home
      </h1>
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
      <span class="order-1 ml-3 shadow-sm rounded-md sm:order-0 sm:ml-0">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-gray-300
          text-sm leading-5 font-medium rounded-md text-gray-700 bg-white
          hover:text-gray-500 focus:outline-none focus:shadow-outline-blue
          focus:border-blue-300 active:text-gray-800 active:bg-gray-50
          transition duration-150 ease-in-out">
          Share
        </button>
      </span>
      <span class="order-0 sm:order-1 sm:ml-3 shadow-sm rounded-md">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent
          text-sm leading-5 font-medium rounded-md text-white bg-purple-600
          hover:bg-purple-500 focus:outline-none focus:shadow-outline-purple
          focus:border-purple-700 active:bg-indigo-700 transition duration-150
          ease-in-out">
          Create
        </button>
      </span>
    </div>
  </div>
  <!-- Pinned projects -->
  <div class="px-4 mt-6 sm:px-6 lg:px-8">
    <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
      Pinned Projects
    </h2>
    <ul
      class="grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 xl:grid-cols-4
      mt-3">
      <li class="relative col-span-1 flex shadow-sm rounded-md">
        <div
          class="flex-shrink-0 flex items-center justify-center w-16
          bg-pink-600 text-white text-sm leading-5 font-medium rounded-l-md">
          GA
        </div>
        <div
          class="flex-1 flex items-center justify-between border-t border-r
          border-b border-gray-200 bg-white rounded-r-md truncate">
          <div class="flex-1 px-4 py-2 text-sm leading-5 truncate">
            <a
              href="#"
              class="text-gray-900 font-medium hover:text-gray-600 transition
              ease-in-out duration-150">
              GraphQL API
            </a>
            <p class="text-gray-500">12 Members</p>
          </div>
          <div class="flex-shrink-0 pr-2">
            <button
              id="pinned-project-options-menu-0"
              aria-has-popup="true"
              class="w-8 h-8 inline-flex items-center justify-center
              text-gray-400 rounded-full bg-transparent hover:text-gray-500
              focus:outline-none focus:text-gray-500 focus:bg-gray-100
              transition ease-in-out duration-150">
              <!-- Heroicon name: dots-vertical -->
              <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0
                  010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </button>
            <!--
                  Dropdown panel, show/hide based on dropdown state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
            <div
              class="z-10 mx-3 origin-top-right absolute right-10 top-3 w-48
              mt-1 rounded-md shadow-lg">
              <div
                class="rounded-md bg-white shadow-xs"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="pinned-project-options-menu-0">
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700
                    hover:bg-gray-100 hover:text-gray-900 focus:outline-none
                    focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem">
                    View
                  </a>
                </div>
                <div class="border-t border-gray-100" />
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700
                    hover:bg-gray-100 hover:text-gray-900 focus:outline-none
                    focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem">
                    Removed from pinned
                  </a>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700
                    hover:bg-gray-100 hover:text-gray-900 focus:outline-none
                    focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem">
                    Share
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- More project cards... -->
    </ul>
  </div>
  <!-- Projects list (only on smallest breakpoint) -->
  <div class="mt-10 sm:hidden">
    <div class="px-4 sm:px-6">
      <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
        Projects
      </h2>
    </div>
    <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
      <li>
        <a
          href="#"
          class="flex items-center justify-between px-4 py-4 hover:bg-gray-50
          sm:px-6">
          <div class="flex items-center truncate space-x-3">
            <div class="w-2.5 h-2.5 flex-shrink-0 rounded-full bg-pink-600" />
            <p class="font-medium truncate text-sm leading-6">
              GraphQL API
              <span class="truncate font-normal text-gray-500">
                in Engineering
              </span>
            </p>
          </div>
          <!-- Heroicon name: chevron-right -->
          <svg
            class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500
            group-focus:text-gray-600 transition ease-in-out duration-150"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0
              011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>

      <!-- More project rows... -->
    </ul>
  </div>
  <!-- Projects table (small breakpoint and up) -->
  <div class="hidden mt-8 sm:block">
    <div
      class="align-middle inline-block min-w-full border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr class="border-t border-gray-200">
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider">
              <span class="lg:pl-2">Project</span>
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider">
              Members
            </th>
            <th
              class="hidden md:table-cell px-6 py-3 border-b border-gray-200
              bg-gray-50 text-right text-xs leading-4 font-medium
              text-gray-500 uppercase tracking-wider">
              Last updated
            </th>
            <th
              class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider" />
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-100">
          <tr>
            <td
              class="px-6 py-3 max-w-0 w-full whitespace-no-wrap text-sm
              leading-5 font-medium text-gray-900">
              <div class="flex items-center space-x-3 lg:pl-2">
                <div
                  class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-pink-600" />
                <a href="#" class="truncate hover:text-gray-600">
                  <span>
                    GraphQL API
                    <span class="text-gray-500 font-normal">
                      in Engineering
                    </span>
                  </span>
                </a>
              </div>
            </td>
            <td
              class="px-6 py-3 text-sm leading-5 text-gray-500 font-medium" />
            <td
              class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm
              leading-5 text-gray-500 text-right">
              March 17, 2020
            </td>
            <td class="pr-6" />
          </tr>

          <!-- More project rows... -->
        </tbody>
      </table>
    </div>
  </div>
</main>

