<script>
  import { parse } from "qs";
  import axios from "axios";
  import { nest } from "d3-collection";
  import { onMount } from "svelte";
  import { querystring } from "svelte-spa-router";
  import { get } from "lodash";
  import { addMessage } from "../_stores/notifications";

  export let params = {};
  $: getRegister(params.quantity);
  $: loadChilds(params.quantity);
  let quantityPromise = Promise.resolve(true);
  let quantity = {};
  let companies = JSON.parse(localStorage.getItem("companies_object")) || {};
  let comments = "";
  let childs = [];

  function getRegister(qs) {
    quantityPromise = axios.get("api/warehouse/inventory/" + qs).then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        console.log(res.data);
        quantity = res.data;
        return res.data;
      }
    });
  }
  function loadChilds(qs) {
    axios
      .get("api/warehouse/inventory/childRecords/" + qs)
      .then(res => {
        if (res.data.errors) {
          addMessage({
            type: "danger",
            title: "Qty saved",
            message: err.data.message
          });
        } else {
          console.log(res.data);
          childs = res.data;
          return res.data;
        }
        addMessage({ type: "success", title: "Root qty fixed", message: "" });
        getRegister(params.quantity);
      })
      .catch(err => {
        addMessage({
          type: "danger",
          title: "Qty saved",
          message: err.response.data.message
        });
      });
  }
  if (Object.keys(companies).length === 0) {
    axios.get("api/admin/company").then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        companies = nest()
          .key(d => d.parasql_id)
          .object(res.data);
        localStorage.setItem("companies_object", JSON.stringify(companies));
        return res.data;
      }
    });
  }
  function fixRootQty() {
    axios
      .post("api/warehouse/inventory/fix/" + quantity.ID)
      .then(res => {
        getRegister(params.quantity);
        addMessage({ type: "success", title: "Root qty fixed", message: "" });
      })
      .catch(err => {
        addMessage({
          type: "danger",
          title: "Qty saved",
          message: err.response.data
        });
      });
  }
  function saveQty() {
    axios
      .post("api/warehouse/inventory/" + quantity.ID, {
        id: quantity.ID,
        qty: quantity.QTY1,
        comments: comments
      })
      .then(res => {
        addMessage({ type: "success", title: "Root qty fixed", message: "" });
        getRegister(params.quantity);
      })
      .catch(err => {
        addMessage({
          type: "danger",
          title: "Qty saved",
          message: err.response.data.message
        });
      });
  }
</script>

<div class="px-4 sm:px-6 lg:px-8 overflow-auto">
  {#await quantityPromise}
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2
          class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl
          sm:leading-9 sm:truncate">
          Loading {params.quantity} information from database...
        </h2>
      </div>
    </div>
  {:then _}
    {#if !quantity}
      <div class="md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <h2
            class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl
            sm:leading-9 sm:truncate">
            Part {params.quantity} not found 🤷‍♂️
          </h2>
        </div>
      </div>
    {:else}
      <div class="bg-white shadow overflow-hidden">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Part Information
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
            US Information.
          </p>
        </div>
        <div class="px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 row-gap-8 sm:grid-cols-4">
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">ID</dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {quantity.ID}
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">Part</dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                <a class="text-blue-700" href={`#/part/${quantity.PART}`}>
                  {quantity.PART}
                </a>
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Part type
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {quantity.detail.DESCRIPTION}
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Company
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {quantity.detail.company.COMPANY_NAME}
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Transaction
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                <a
                  class="text-blue-700"
                  href={`#/transaction/by_transaction/${quantity.TRANSACTION_ID}`}>
                  {quantity.TRANSACTION_ID}
                </a>
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Parent transaction
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                <a
                  class="text-blue-700"
                  href={`#/transaction/by_transaction/${quantity.REF_TRANSACTION_ID}`}>
                  {quantity.REF_TRANSACTION_ID}
                </a>
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Parent record
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                <a class="text-blue-700" href={`#/quantity/${quantity.REF_ID}`}>
                  {quantity.REF_ID}
                </a>
              </dt>
            </div>
          </dl>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST">
          <div class="shadow sm:rounded-b-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-2 sm:col-span-2">
                  <label
                    for="row_qty"
                    class="block text-sm font-medium leading-5 text-gray-700">
                    Quantity
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      id="row_qty"
                      bind:value={quantity.QTY1}
                      class="form-input flex-1 block w-full rounded-none
                      rounded-l-md transition duration-150 ease-in-out
                      sm:text-sm sm:leading-5" />
                    <span
                      class="inline-flex items-center px-3 rounded-r-md border
                      border-l-0 border-gray-300 bg-gray-50 text-gray-500
                      text-sm">
                      {quantity.detail.UM_US}
                    </span>
                  </div>
                </div>
                <div class="col-span-2 sm:col-span-2">
                  <label
                    for="row_qty"
                    class="block text-sm font-medium leading-5 text-gray-700">
                    Root Quantity
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      id="row_qty"
                      bind:value={quantity.ROOT_QTY}
                      class="form-input flex-1 block w-full rounded-none
                      rounded-l-md transition duration-150 ease-in-out
                      sm:text-sm sm:leading-5" />
                    <span
                      class="inline-flex items-center px-3 rounded-r-md border
                      border-l-0 border-gray-300 bg-gray-50 text-gray-500
                      text-sm">
                      {quantity.detail.UM_US}
                    </span>
                  </div>
                </div>
              </div>

              <div class="mt-6">
                <label
                  for="comment"
                  class="block text-sm leading-5 font-medium text-gray-700">
                  Comment
                </label>
                <div class="rounded-md shadow-sm">
                  <textarea
                    bind:value={comments}
                    id="comments"
                    rows="2"
                    class="form-textarea mt-1 block w-full transition
                    duration-150 ease-in-out sm:text-sm sm:leading-5" />
                </div>
                <p class="mt-2 text-sm text-gray-500">
                  Brief description of who contact you, when, and if a reason
                  for the change is shared, also the reason of the change.
                </p>
              </div>

            </div>
            <div class="mt-8 border-t border-gray-200 pt-5">
              <div class="mb-8 mr-8 flex justify-end">
                <span class="inline-flex rounded-md shadow-sm">
                  <button
                    on:click={saveQty}
                    type="button"
                    class="py-2 px-4 border border-gray-300 rounded-md text-sm
                    leading-5 font-medium text-gray-700 hover:text-gray-500
                    focus:outline-none focus:border-blue-300
                    focus:shadow-outline-blue active:bg-gray-50
                    active:text-gray-800 transition duration-150 ease-in-out">
                    Save quantity
                  </button>
                </span>
                <span class="ml-3 inline-flex rounded-md shadow-sm">
                  <button
                    on:click={fixRootQty}
                    type="button"
                    class="inline-flex justify-center py-2 px-4 border
                    border-transparent text-sm leading-5 font-medium rounded-md
                    text-white bg-indigo-600 hover:bg-indigo-500
                    focus:outline-none focus:border-indigo-700
                    focus:shadow-outline-indigo active:bg-indigo-700 transition
                    duration-150 ease-in-out">
                    Fix root qty
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="hidden mt-8 sm:block">
        <div
          class="align-middle inline-block min-w-full border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr class="border-t border-gray-200">
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  <span class="lg:pl-2">Id</span>
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Part
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Qty
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Width
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Transaction
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Comments
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Location
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Ref Trans
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
              {#each childs as item, index (item.ID)}
                <tr>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/quantity/${item.ID}`}
                        class="hover:text-blue-700">
                        <span>{item.ID}</span>
                      </a>
                    </div>
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/part/${item.PART}`}
                        class="hover:text-gray-700">
                        <span>{item.PART}</span>
                      </a>
                    </div>
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.QTY1}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.QTY2}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/transaction/by_transaction/${item.TRANSACTION_ID}`}
                        class="hover:text-gray-700">
                        <span>{item.TRANSACTION_ID}</span>
                      </a>
                    </div>
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.COMMENTS}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.ITEM_LOCATION}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/transaction/by_transaction/${item.REF_TRANSACTION_ID}`}
                        class="hover:text-gray-700">
                        <span>{item.REF_TRANSACTION_ID}</span>
                      </a>
                    </div>
                  </td>
                  <td class="pr-6" />
                </tr>
              {/each}
              <!-- More project rows... -->
            </tbody>
          </table>
        </div>
      </div>
    {/if}
  {/await}

</div>
