<script>
  let quantity = ''
</script>
<svelte:head>
  <title>PIX: Quantity</title>
</svelte:head>
<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
  <!-- Page title & actions -->
  <div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center
    sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
      <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
        Quantity
      </h1>
    </div>
  </div>
  <div class="bg-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Enter quantity id
        <br class="hidden sm:inline">
      </h2>
      <form action={`#/quantity/${quantity}`} class="mt-8 sm:flex" aria-labelledby="newsletter-headline">
        <input type="numeric" required bind:value={quantity}
          class="appearance-none w-full px-5 py-3 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:max-w-xs"
          placeholder="Quantity id">
        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button
            class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
