<script>
  import axios from "axios";
  import { querystring } from 'svelte-spa-router'
  import { parse } from "qs";
  import { onDestroy } from 'svelte'
  import { definitions, createApi, createParams } from "../_stores/models";
  import { addMessage } from "../_stores/notifications";
  import { get } from "lodash";

  import QueryFilter from "../_components/QueryFilters.svelte";
  import DataFilters from "../_components/DataFilters.svelte";
  import TableHeaders from "./TableHeaders.svelte";
  import TableColumns from "./TableColumns.svelte";
  import TableColumnSelector from "./TableColumnSelector.svelte";

  export let params = {};
  $: updateCurrentData(params);

  let data = {};
  let model = null
  let state = 'loading'
  let errors = {};
  let api = {};
  let loading = []

  // Navigation settings
  let nav = {
    page: 1,
    limit: 10,
    offset: 0,
    max: 10,
  }

  const querystringSubscriptionRef = querystring.subscribe((val) => {
    let qp = parse(val)
    nav.page = qp.page || 1
    nav.limit = qp.limit || 10
    nav.offset = qp.offset || 0
  })



  function updateCurrentData(p) {
    model = definitions.models[p.model]
    api = createApi(model)
    console.log(model)
    if (model) {
      console.log('ready')
      state = 'ready'
      fetchData()
    } else {
      console.log('error')
      state = 'error'
    }
  }
  
  function fetchData(){
    loading.push(0)
    loading = loading
    api.index(createParams(model)(nav)).then(d => {
      data.main = d.data
      nav.max = +d.data.count
      console.log(d);
    }).finally(() => {
      loading.pop()
      loading = loading
    });
  }
  $: console.log(data);

  onDestroy(() => {
    querystringSubscriptionRef()
  })
</script>

{#if state == 'ready'}
<main class="flex-1 relative pb-8 z-0 overflow-y-auto">
<!-- Page header -->
<div class="bg-white">
  <div class="px-4 sm:px-6 lg:mx-auto lg:px-8">
    <div
      class="pt-2 pb-4 md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <!-- Profile -->
        <div class="flex items-center">
          <div>
            <div class="flex items-center">
              <h1
                class="ml-3 text-2xl font-bold leading-7 text-cool-gray-900
                sm:leading-9 sm:truncate">
                {model.name}{#if loading.length != 0}
                <span class="ml-4 text-gray-400 animate-pulse">loading...</span>
                {/if}
              </h1>
            </div>
            <!-- <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dt class="sr-only">Company</dt>
                  <dd class="flex items-center text-sm leading-5 text-cool-gray-500 font-medium capitalize sm:mr-6">
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-cool-gray-400" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
                    </svg>
                    Duke street studio
                  </dd>
                  <dt class="sr-only">Account status</dt>
                  <dd class="mt-3 flex items-center text-sm leading-5 text-cool-gray-500 font-medium sm:mr-6 sm:mt-0 capitalize">
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    Verified account
                  </dd>
                </dl> -->
          </div>
        </div>
      </div>
      <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
        <TableColumnSelector {model} on:change={e=>{console.log(e.detail); model.visible = e.detail; fetchData()}} />
        <span class="shadow-sm rounded-md">
          <a
            href={'#/r/create/' + params.model}
            class="inline-flex items-center px-4 py-2 border
            border-cool-gray-300 text-sm leading-5 font-medium rounded-md
            text-cool-gray-700 bg-white hover:text-cool-gray-500
            focus:outline-none focus:shadow-outline-blue focus:border-blue-300
            active:text-cool-gray-800 active:bg-cool-gray-50 transition
            duration-150 ease-in-out">
            Create new
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="">
  <!-- <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-lg leading-6 font-medium text-cool-gray-900">Overview</h2>
        <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

          <div class="bg-white overflow-hidden shadow rounded-lg">
            <div class="p-5">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <svg class="h-6 w-6 text-cool-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
                <div class="ml-5 w-0 flex-1">
                  <dl>
                    <dt class="text-sm leading-5 font-medium text-cool-gray-500 truncate">
                      Account balance
                    </dt>
                    <dd>
                      <div class="text-lg leading-7 font-medium text-cool-gray-900">
                        $30,659.45
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="bg-cool-gray-50 px-5 py-3">
              <div class="text-sm leading-5">
                <a href="#" class="font-medium text-teal-600 hover:text-teal-900 transition ease-in-out duration-150">
                  View all
                </a>
              </div>
            </div>
          </div>

        </div>
      </div> -->

  <!-- Activity list (smallest breakopoint only) -->
  <!-- <div class="shadow sm:hidden">
        <ul class="mt-2 divide-y divide-cool-gray-200 overflow-hidden shadow sm:hidden">
          <li>
            <a href="#" class="block px-4 py-4 bg-white hover:bg-cool-gray-50">
              <div class="flex items-center space-x-4">
                <div class="flex-1 flex space-x-2 truncate">
                  <svg class="flex-shrink-0 h-5 w-5 text-cool-gray-400" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                  </svg>
                  <div class="text-cool-gray-500 text-sm truncate">
                    <p class="truncate">Payment to Molly Sanders</p>
                    <p><span class="text-cool-gray-900 font-medium">$20,000</span> USD</p>
                    <p>July 11, 2020</p>
                  </div>
                </div>
                <div>
                  <svg class="flex-shrink-0 h-5 w-5 text-cool-gray-400" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
            </a>
          </li>

        </ul>
        <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-cool-gray-200">
          <div class="flex-1 flex justify-between">
            <a href="#" class="relative inline-flex items-center px-4 py-2 border border-cool-gray-300 text-sm leading-5 font-medium rounded-md text-cool-gray-700 bg-white hover:text-cool-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-cool-gray-100 active:text-cool-gray-700 transition ease-in-out duration-150">
              Previous
            </a>
            <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-cool-gray-300 text-sm leading-5 font-medium rounded-md text-cool-gray-700 bg-white hover:text-cool-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-cool-gray-100 active:text-cool-gray-700 transition ease-in-out duration-150">
              Next
            </a>
          </div>
        </nav>
      </div> -->

  <!-- Activity table (small breakopoint and up) -->
  <div class="sm:block">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col mt-2">
        <div
          class="align-middle min-w-full overflow-x-auto shadow
          overflow-hidden sm:rounded-lg">
          <table class="min-w-full divide-y divide-cool-gray-200">
            <thead>
              <tr>
                <TableHeaders rows={model.fields.filter( d => model.visible.includes(d.field))} />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cool-gray-200">
              {#each data.main && data.main.data || [] as rows, i (i)}
                <tr class="bg-white">
                  <TableColumns
                    columns={model.fields.filter( d => model.visible.includes(d.field))}
                    data={rows}
                    modelName={params.model}
                    model={model} />
                </tr>
              {/each}
              <!-- <tr>
                    <td class="max-w-0 w-full px-6 py-4 whitespace-no-wrap text-sm leading-5 text-cool-gray-900">
                      <div class="flex">
                        <a href="#" class="group inline-flex space-x-2 truncate text-sm leading-5">
                          <svg class="flex-shrink-0 h-5 w-5 text-cool-gray-400 group-hover:text-cool-gray-500 transition ease-in-out duration-150" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                          </svg>
                          <p class="text-cool-gray-500 truncate group-hover:text-cool-gray-900 transition ease-in-out duration-150">
                            Payment to Molly Sanders
                          </p>
                        </a>
                      </div>
                    </td>
                    <td class="px-6 py-4 text-right whitespace-no-wrap text-sm leading-5 text-cool-gray-500">
                      <span class="text-cool-gray-900 font-medium">$20,000 </span>
                      USD
                    </td>
                    <td class="hidden px-6 py-4 whitespace-no-wrap text-sm leading-5 text-cool-gray-500 md:block">
                      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-green-100 text-green-800 capitalize">
                        success
                      </span>
                    </td>
                    <td class="px-6 py-4 text-right whitespace-no-wrap text-sm leading-5 text-cool-gray-500">
                      July 11, 2020
                    </td>
                  </tr> -->

              <!-- More rows... -->
            </tbody>
          </table>
          <!-- Pagination -->
          <nav
            class="bg-white px-4 py-3 flex items-center justify-between
            border-t border-cool-gray-200 sm:px-6">
            <div class="hidden sm:block">
              <p class="text-sm leading-5 text-cool-gray-700">
                Showing
                <span class="font-medium">{(nav.page*nav.limit) - (nav.limit-1)}</span>
                to
                <span class="font-medium">{(nav.page*nav.limit)}</span>
                of
                <span class="font-medium">{nav.max}</span>
                results
              </p>
            </div>
            <div class="flex-1 flex justify-between sm:justify-end">
              {#if nav.page > 1}
              <a
                href={`#/r/${params.model}?page=${+nav.page-1}&limit=${nav.limit}`}
                class="relative inline-flex items-center px-4 py-2 border
                border-cool-gray-300 text-sm leading-5 font-medium rounded-md
                text-cool-gray-700 bg-white hover:text-cool-gray-500
                focus:outline-none focus:shadow-outline-blue
                focus:border-blue-300 active:bg-cool-gray-100
                active:text-cool-gray-700 transition ease-in-out duration-150">
                Previous
              </a>
              {/if}
              {#if nav.max > nav.offset + nav.limit && (nav.page * nav.limit < nav.max)}
              <a
                href={`#/r/${params.model}?page=${+nav.page+1}&limit=${nav.limit}`}
                class="ml-3 relative inline-flex items-center px-4 py-2 border
                border-cool-gray-300 text-sm leading-5 font-medium rounded-md
                text-cool-gray-700 bg-white hover:text-cool-gray-500
                focus:outline-none focus:shadow-outline-blue
                focus:border-blue-300 active:bg-cool-gray-100
                active:text-cool-gray-700 transition ease-in-out duration-150">
                Next
              </a>
              {/if}
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{:else if state == 'error'}
<h1>Model not found: {params.model}</h1>
{:else if state == 'loading'}
<div class="bg-white">
<div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
  <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
    <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
      <div class="lg:self-center">
        <h2 class="text-3xl leading-9 font-extrabold text-white sm:text-4xl sm:leading-10">
          <span class="block">Ready to dive in?</span>
          <span class="block">Start your free trial today.</span>
        </h2>
        <p class="mt-4 text-lg leading-6 text-indigo-200">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
        <a href="#/admin" class="mt-8 bg-white border border-transparent rounded-md shadow px-6 py-3 inline-flex items-center text-base leading-6 font-medium text-indigo-600 hover:text-indigo-500 hover:bg-gray-50 transition duration-150 ease-in-out">Sign up for free</a>
      </div>
    </div>
    <div class="relative pb-3/5 -mt-6 md:pb-1/2">
      <img class="absolute inset-0 w-full h-full transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://tailwindui.com/img/component-images/full-width-with-sidebar.jpg" alt="App screenshot">
    </div>
  </div>
</div>
</div>
{/if}

