<script>
  import axios from "axios";
  import { definitions, createApi, createParams } from "../_stores/models";
  import { addMessage } from "../_stores/notifications";
  import Wrap from "../_template.svelte";
  import FormFields from "./FormFields.svelte";

  import { get } from "lodash";

  export let params = {};
  $: console.log(params);
  $: updateCurrentData(params);

  let data = {};
  let errors = {};
  let model = null;
  let api = {};
  let loading = []

  function updateCurrentData() {
    model = definitions.models[params.model];
    api = createApi(model);
    loading.push('')
    loading = loading
    api.show(params.id, createParams(model)()).then(d => {
      data.stored = d.data[0];
      data.edited = d.data[0];
    }).finally(() => {
      loading.pop()
      loading = loading
    });
  }

  function save() {
    loading.push('')
    loading = loading
    api.update(data.stored[model.primary], data.edited).then(d => {
      data.stored = d.data
      addMessage({
        type: "success",
        title: "Updated successfuly",
        duration: 2000,
      })
      return d
    }).finally(() => {
      loading.pop()
      loading = loading
    });
  }
  $: console.log(data);
</script>
<Wrap>
  <form on:submit={save} class="bg-white overflow-hidden shadow-md m-4">
    <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
      <div class="md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <h2 class="inline-flex text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            {model.name}
            {#if loading.length != 0}
            <span class="ml-4 text-gray-400 animate-pulse">loading...</span>
            {/if}
          </h2>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-8 lg:grid-cols-8 gap-4 px-4 py-5 sm:p-6">
      <FormFields fields={model.fields.filter(d=> model.editable.includes(d.field))}
        {errors}
        data={data.edited}
        on:change={e => (data.edited = { ...data.edited, ...e.detail })} />
    </div>
    <div class="border-t border-gray-200 px-4 py-4 sm:px-6">
      <div class="flex justify-end">
        <span class="inline-flex rounded-md shadow-sm">
          <a href={`#/r/${params.model}`}
            class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
            Go back to the list
          </a>
        </span>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <button type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            Save
          </button>
        </span>
      </div>
    </div>
  </form>
  <!-- {JSON.stringify(params)} {JSON.stringify(data)} -->
</Wrap>
