<script>
  import { get } from "lodash";
  import { onMount, createEventDispatcher } from "svelte";

  let dispatch = createEventDispatcher();
  let sizes = {
    1: "sm:col-span-1",
    2: "sm:col-span-2",
    3: "sm:col-span-3",
    4: "sm:col-span-4",
    5: "sm:col-span-5",
    6: "sm:col-span-6"
  };
  export let fields = [];
  export let data = {};
  export let errors = {};
  export let name = "form1";

  function updateValue({ e, f }) {
    let v = f.type === "number" ? +e.target.value : e.target.value;
    v = f.type === "checkbox" ? +e.target.checked : v;
    data = { ...data, [f.field]: v };
    dispatch("change", data);
  }
</script>

{#each fields as f, i (i)}
  <div class={get(sizes, f.size, 1)}>
    <label
      for={`${name}-${i}`}
      class="block text-sm font-medium leading-5 text-gray-700">
      {f.label}
    </label>
    <div class="mt-1 rounded-sm">
      {#if ['string', 'password', 'email', 'tel', 'number', 'range', 'date', 'color', 'datetimelocal'].includes(f.type)}
        <input
          type={f.type}
          value={get(data, f.field, '')}
          id={`${name}-${i}`}
          on:change={e => updateValue({ e, f })}
          readonly={f.readonly}
          class="form-input block w-full transition duration-150 ease-in-out
          sm:text-sm sm:leading-5" />
      {:else if f.type === 'checkbox'}
        <input
          checked={get(data, f.field, 0)}
          id={`${name}-${i}`}
          type="checkbox"
          on:change={e => updateValue({ e, f })}
          readonly={f.readonly}
          class="form-checkbox h-6 w-6 text-indigo-600 transition duration-150
          ease-in-out" />
      {:else if f.type === 'number'}
        <input
          type={f.type}
          value={get(data, f.field, '')}
          id={`${name}-${i}`}
          on:change={e => updateValue({ e, f })}
          readonly={f.readonly}
          class="form-input block w-full transition duration-150 ease-in-out
          sm:text-sm sm:leading-5" />
      {:else if f.type === 'select'}
        <select
          value={get(data, f.field, '')}
          on:blur={e => updateValue({ e, f })}
          id={`${name}-${i}`}
          class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base
          leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue
          focus:border-blue-300 sm:text-sm sm:leading-5">
          {#each f.options as op, i (i)}
            <option value={op.value}>{op.title}</option>
          {/each}
        </select>
      {:else if f.type === 'textarea'}
        <textarea
          on:change={e => updateValue({ e, f })}
          id={`${name}-${i}`}
          class="form-textarea block w-full transition duration-150 ease-in-out
          sm:text-sm sm:leading-5">
          {get(data, f.field, '')}
        </textarea>
      {/if}
    </div>
    {#each get(errors, f.field, []) as e, i (i)}
      <p class="mt-2 text-sm text-red-700">{e}</p>
    {/each}
    {#if f.help}
      <p class="mt-2 text-sm text-gray-700">{f.help}</p>
    {/if}
  </div>
{/each}
