<script>
  import { get } from "lodash";
  export let columns = [];
  export let data = {};
  export let model = {};
  export let modelName = "";
</script>

{#each columns as r}
  {#if r.heading}
    <div
      class="px-6 py-3 max-w-0 w-full whitespace-no-wrap text-sm leading-5
      font-medium text-blue-800">
      <a
        href={`#/r/edit/${modelName}/${get(data, model.primary, '-')}`}
        class="hover:text-blue-600">
        <span>{get(data, r.field, '-')}</span>
      </a>
    </div>
  {:else if r.type === 'string'}
    <td
      class="truncate hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm
      leading-5 text-gray-500 text-left">
      {get(data, r.field, '-')}
    </td>
  {:else if r.type === 'string'}
    <td
      class="truncate hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm
      leading-5 text-gray-500 text-left">
      <span class="lg:pl-2">{get(data, r.field, '-')}</span>
    </td>
  {:else if r.type === 'checkbox'}
    <td
      class="truncate hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm
      leading-5 text-gray-500 text-left">
      {#if !!get(data, r.field, '0')}
      <span
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium leading-4 bg-green-100 text-green-800">
        <svg
          class="-ml-0.5 mr-1.5 h-2 w-2 text-green-400"
          fill="currentColor"
          viewBox="0 0 8 8">
          <circle cx="4" cy="4" r="3" />
        </svg>
        True
      </span>
      {:else}
      <span
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium leading-4 bg-red-100 text-red-800">
        <svg
          class="-ml-0.5 mr-1.5 h-2 w-2 text-red-400"
          fill="currentColor"
          viewBox="0 0 8 8">
          <circle cx="4" cy="4" r="3" />
        </svg>
        False
      </span>
      {/if}
    </td>
  {:else if r.type === 'number'}
    <td
      class="truncate hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm
      leading-5 text-gray-500 text-right">
      {get(data, r.field, '-')}
    </td>
  {/if}
{/each}
