<script>
  export let rows = [];
  let headerClass =
    "px-6 py-3 bg-cool-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider";
</script>

{#each rows as r}
  <th class={headerClass}>
    <span class="lg:pl-2">{r.label}</span>
  </th>
{/each}
