<script>
  import { fly, fade } from "svelte/transition";
  import { createEventDispatcher } from "svelte";
  let dispatch = createEventDispatcher();
  function toogleColumn(name, action) {
    if (action) {
      model.visible = model.visible.filter(d => d != name);
    } else {
      model.visible = [...model.visible, name];
    }
  }

  function apply() {
    open = !open;
    dispatch('change', model.visible)
  }
  let open = false;
  export let model = { fields: [] };
</script>

<div class="relative inline-block text-left">
  <div>
    {#if !open}
      <button
        on:click={() => (open = !open)}
        class="flex items-center text-gray-400 hover:text-gray-600
        focus:outline-none focus:text-gray-600 py-2"
        aria-label="Options"
        id="options-menu"
        aria-haspopup="true"
        aria-expanded="true">
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10
            18a2 2 0 110-4 2 2 0 010 4z" />
        </svg>
      </button>
    {:else}
      <button
        on:click={apply}
        class="inline-flex items-center px-4 py-2 border border-cool-gray-300
        text-sm leading-5 font-medium rounded-md text-cool-gray-700 bg-white
        hover:text-cool-gray-500 focus:outline-none focus:shadow-outline-blue
        focus:border-blue-300 active:text-cool-gray-800 active:bg-cool-gray-50
        transition duration-150 ease-in-out">
        Apply
      </button>
    {/if}
  </div>
  {#if open}
    <div
      in:fly={{ y: 3, x: 0, duration: 200 }}
      out:fly={{ duration: 200 }}
      class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg
      max-h-60 overflow-y-scroll">
      <div class="rounded-md bg-white shadow-xs">
        <div
          class="py-1"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="options-menu">
          {#each model.fields as f}
            <button
              type="submit"
              on:click={() => toogleColumn(f.field, model.visible.includes(f.field))}
              class="block w-full text-left px-4 py-2 text-sm leading-5
              text-gray-700 hover:bg-gray-100 hover:text-gray-900
              focus:outline-none focus:bg-gray-100 focus:text-gray-900"
              role="menuitem">
              <span
                aria-label="Online"
                class={'flex-shrink-0 inline-block h-2 w-2 rounded-full mr-2 '+ (model.visible.includes(f.field) ? 'bg-green-400' : 'bg-gray-200')} />
              {f.label}
            </button>
          {/each}
        </div>
      </div>
    </div>
  {/if}
</div>
