<script>
  import { parse } from "qs";
  import axios from "axios";
  import { onMount } from "svelte";
  import { nest } from 'd3-collection'
  import { querystring } from "svelte-spa-router";
  import { addMessage } from '../../_stores/notifications'

  export let params = {};
  $: getParts(params.part);
  let parts = Promise.resolve(true);
  let part = {};
  let companies = JSON.parse(localStorage.getItem("companies_array")) || [];

  function getParts() {
    parts = axios
      .get("api/review/part_dynamic", {
        params: {
          __include: "*",
          __order: "ENTRY_DT,desc",
          __limit: 60,
          PART: `=${params.part}`
        }
      })
      .then(res => {
        if (res.data.errors) {
          throw new Error(res.data.errors);
        } else {
          part = res.data[0];
          return res.data[0];
        }
      });
  }
  if (companies.length === 0) {
    axios
      .get("api/admin/company")
      .then(res => {
        if (res.data.errors) {
          throw new Error(res.data.errors);
        } else {
          companies = res.data;
          localStorage.setItem("companies_array", JSON.stringify(companies));
          return res.data;
        }
      });
  }
  let states = [
    { name: 'Nowhere', nick: 'nowhere' },
    { name: 'Warehouse', nick: 'warehouse' },
    { name: 'Pix', nick: 'pix' },
    { name: 'Client', nick: 'client' },
    { name: 'Import/export', nick: 'import/export' },
    { name: 'Stock', nick: 'stock' },
    { name: 'Transfer', nick: 'transfer' },
  ]
  function isIn(location, transaction) {
    let locations = {
      'nowhere': (t) => {
        if (
          t.CHECK_INQUEUE == 0 &&
          t.ACTIVE == 0 &&
          t.READY_US == 0
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'warehouse': (t) => {
        if (
          t.CHECK_INQUEUE == 1 &&
          t.ACTIVE == 0 &&
          t.READY_US == 0
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'pix': (t) => {
        if (
          t.PIX_PENDING == 1 &&
          t.PIX_APPROVAL == 0
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'client': (t) => {
        if (
          t.READY_US == 1 &&
          t.READY_MX == 0 &&
          t.CLIENT_APPROVAL_CHECK == 0 &&
          t.PIX_APPROVAL == 1
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'import/export': (t) => {
        if (
          t.READY_US == 1 &&
          t.CLIENT_APPROVAL_CHECK == 1 &&
          t.READY_MX == 0
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'stock': (t) => {
        if (
          t.ACTIVE == 1 &&
          t.CLIENT_APPROVAL_CHECK == 1
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
      'transfer': (t) => {
        if (
          (t.CHECK_INQUEUE == 0 || t.CHECK_INQUEUE == null) &&
          t.ACTIVE == 1 &&
          t.STATUS == 1001
        ) {
          return 'is-primary'
        } else {
          return ''
        }
      },
    }
    return locations[location](transaction)
  }

  function enableInLocation(request) {
    axios.post('api/warehouse/part/enableInLocation', request).finally(() => {
      getParts()
    })
  }

  function setFamilyNumber(request) {
    axios.post('/api/cumple/schutts_family_fix', request)
      .then((d) => {
        addMessage({title:'Family assigned'})
        getParts()
      }).catch(err => {
        addMessage({title: 'Something went wrong', message:err.response.data.message})
      })
  }

  function saveFormData(){
    console.log(part)
  }
</script>
{#await parts}
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Loading {params.part} information from database...
    </h2>
  </div>
</div>

{:then _}

{#if !part}
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Part {params.part} not found  🤷‍♂️
    </h2>
  </div>
</div>
{:else}

<form class="my-3 px-4 sm:px-6 lg:px-8 overflow-auto">
  <div>
    <div>

      <div>
        <div class="md:flex md:items-center md:justify-between">
          <div class="flex-1 min-w-0">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
              {params.part}
            </h2>
          </div>
        </div>
      </div>
      {#if part.COMPANY_ID === 1024}
      <div class="mt-8 border-t border-gray-200 pt-8">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Generic family type
          </h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            Select the type of family that this part belongs, in order to update this part with the current family information
          </p>
        </div>
        <div class="mt-2 mb-4">
          <div class="py-2">
            <div class="flex flex-wrap">
              <span class="flex-shrink-0 w-full inline-flex rounded-md shadow-sm sm:flex-1">
                <button on:click={setFamilyNumber({original:part.PART, target:'SHFACEGUARD'})} type="button" class="w-full inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                  SHFACEGUARD - No accesories
                </button>
              </span>
              <span class="mt-3 flex-1 w-full inline-flex rounded-md shadow-sm sm:mt-0 sm:ml-3">
                <button on:click={setFamilyNumber({original:part.PART, target:'SHFACEGUARD-W/ACC'})} type="button" class="w-full inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                  SHFACEGUARD-W/ACC - With accesories
                </button>
              </span>
            </div>
          </div>
          
        </div>
      </div>
      {/if}
      <div class="mt-8 border-t border-gray-200 pt-8">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Location information
          </h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            Parts of the aplication where actually are usable
          </p>
        </div>
        <div class="mt-2 mb-6">
          <div class="py-2">
            <nav>
              <ul class="space-y-4 md:flex md:space-y-0 md:space-x-8">
                {#each states as state}
                  {#if isIn(state.nick, part)}
                <li class="md:flex-1">
                  <!-- Completed Step -->
                  <a href="#"  on:click|preventDefault={()=>enableInLocation({part:part.PART, location:state.nick})}  class="group pl-4 py-2 block border-l-4 border-indigo-600 hover:border-indigo-800 focus:border-indigo-900 transition ease-in-out duration-150 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4">
                    <h3 class="text-xs leading-4 text-indigo-600 font-semibold group-hover:text-indigo-800 transition ease-in-out duration-150">{state.name}</h3>
                  </a>
                </li>
                {:else}
                <li class="md:flex-1">
                  <!-- Upcoming Step -->
                  <a href="#"  on:click|preventDefault={()=>enableInLocation({part:part.PART, location:state.nick})}  class="group pl-4 py-2 block border-l-4 border-gray-200 hover:border-gray-300 focus:border-gray-400 transition ease-in-out duration-150 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4">
                    <h3 class="text-xs leading-4 text-gray-500 font-semibold group-hover:text-gray-700 transition ease-in-out duration-150">{state.name}</h3>
                  </a>
                </li>

                {/if}
                {/each}
              </ul>
            </nav>
          </div>
          
        </div>
      </div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900 mt-3">
          Generals
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          This information will be displayed publicly so be careful what you share.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Part
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input readonly bind:value={part.PART} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Part type
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.SUB_PART} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <div>
            <label for="location" class="block text-sm leading-5 font-medium text-gray-700">Company</label>
            <select bind:value={part.COMPANY_ID} id="location" class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
              {#each companies as company (company.id)}
              <option value={company.parasql_id}>{company.parasql_id} - {company.name}</option>
              {/each}
            </select>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Origin
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.ORIGIN_US} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Unit of measure
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.UM_US} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            HTS
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.HTS_US} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Price
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.US_PRICE} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Weight
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.US_WEIGHT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-6">
          <label for="street_address" class="block text-sm font-medium leading-5 text-gray-700">
            Comments
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.COMMENTS} id="street_address" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="about" class="block text-sm font-medium leading-5 text-gray-700">
            Description
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <textarea bind:value={part.DESCRIPTION} id="about" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
          </div>
          <p class="mt-2 text-sm text-gray-500"></p>
        </div>
        <div class="sm:col-span-3">
          <label for="about" class="block text-sm font-medium leading-5 text-gray-700">
            Description client
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <textarea bind:value={part.DESCRIPTION_CLIENT} id="about" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
          </div>
          <p class="mt-2 text-sm text-gray-500"></p>
        </div>

        <!-- <div class="sm:col-span-6">
          <label for="cover_photo" class="block text-sm leading-5 font-medium text-gray-700">
            Cover photo
          </label>
          <div class="mt-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <p class="mt-1 text-sm text-gray-600">
                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
                  Upload a file
                </button>
                or drag and drop
              </p>
              <p class="mt-1 text-xs text-gray-500">
                PNG, JPG, GIF up to 10MB
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Cumple!
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Information to create mexican customs invoice.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Part
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.MX_PART} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last_name" class="block text-sm font-medium leading-5 text-gray-700">
            Sub Part
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.MX_SUB_PART} id="last_name" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Convertion factor 
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.UM_CONVERSION} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Origin
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.ORIGIN_MX} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Unit of measure
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.UM_MX} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            HTS
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.HTS_MX} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Price
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.MX_PRICE} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Weight
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.MX_WEIGHT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>


        <div class="sm:col-span-6">
          <label for="street_address" class="block text-sm font-medium leading-5 text-gray-700">
            Comments
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.IMPEXP_COMMENTS} id="street_address" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="about" class="block text-sm font-medium leading-5 text-gray-700">
            Description
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <textarea bind:value={part.DESC_CUMPLE_US} id="about" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
          </div>
          <p class="mt-2 text-sm text-gray-500"></p>
        </div>


        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Familia
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.FAMILIA} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Codigo
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.CODIGO} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
            Regimen
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.REGIMEN} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Internal / Aditional
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          For internal use only
        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Entry user
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.ENTRY_USER} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Import/Export user
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.IMPEXP_USER} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Initial user
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.INIT_USER} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Country ID
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.COUNTRY_ID} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Unit ID
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.UNIT_ID} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Type ID
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.TYPE_ID} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="IS_FABRIC" class="block text-sm font-medium leading-5 text-gray-700">
            Is fabric
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.IS_FABRIC} id="IS_FABRIC" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="ORIGINARIO" class="block text-sm font-medium leading-5 text-gray-700">
            Is "Originario"
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.ORIGINARIO} id="ORIGINARIO" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="require_width" class="block text-sm font-medium leading-5 text-gray-700">
            Require width
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.require_width} id="require_width" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Entry date
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.ENTRY_DT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Submit date
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.SUBMIT_DT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Pix approval date
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.PIX_APPROVAL_DT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
            Import/Export completion date
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input bind:value={part.IMPEXP_DT} class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          </div>
        </div>

      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Internal Status Information
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Flags that control affordabilities of a part number into the system
        </p>
      </div>
      <div class="mt-6">
        <fieldset>
          <legend class="text-base font-medium text-gray-900">
            By Email
          </legend>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.ACTIVE} id="ACTIVE" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="ACTIVE" class="font-medium text-gray-700">Active</label>
                <p class="text-gray-500">Inactive numbers cannot cross US border</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.US_READY} id="US_READY" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="US_READY" class="font-medium text-gray-700">US Ready</label>
                <p class="text-gray-500">Number has been reviewed by US personnel</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.PIX_PENDING} id="PIX_PENDING" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="PIX_PENDING" class="font-medium text-gray-700">Pending PIX</label>
                <p class="text-gray-500">Is waiting in review queue</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.PIX_APPROVAL} id="PIX_APPROVAL" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="PIX_APPROVAL" class="font-medium text-gray-700">Pix completed</label>
                <p class="text-gray-500">Is waiting in review queue</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.CLIENT_APPROVAL_CHECK} id="CLIENT_APPROVAL_CHECK" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="CLIENT_APPROVAL_CHECK" class="font-medium text-gray-700">Client check</label>
                <p class="text-gray-500">Is waiting in review queue</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.READY_MX} id="READY_MX" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="READY_MX" class="font-medium text-gray-700">MX review</label>
                <p class="text-gray-500">Is waiting in review queue</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input bind:checked={part.CHECK_INQUEUE} id="CHECK_INQUEUE" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for="CHECK_INQUEUE" class="font-medium text-gray-700">Is in review queue</label>
                <p class="text-gray-500">Is waiting in review queue</p>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- <fieldset class="mt-6">
          <legend class="text-base font-medium text-gray-900">
            Push Notifications
          </legend>
          <p class="text-sm leading-5 text-gray-500">These are delivered via SMS to your mobile phone.</p>
          <div class="mt-4">
            <div class="flex items-center">
              <input id="push_everything" name="push_notifications" type="radio" class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              <label for="push_everything" class="ml-3">
                <span class="block text-sm leading-5 font-medium text-gray-700">Everything</span>
              </label>
            </div>
            <div class="mt-4 flex items-center">
              <input id="push_email" name="push_notifications" type="radio" class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              <label for="push_email" class="ml-3">
                <span class="block text-sm leading-5 font-medium text-gray-700">Same as email</span>
              </label>
            </div>
            <div class="mt-4 flex items-center">
              <input id="push_nothing" name="push_notifications" type="radio" class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              <label for="push_nothing" class="ml-3">
                <span class="block text-sm leading-5 font-medium text-gray-700">No push notifications</span>
              </label>
            </div>
          </div>
        </fieldset> -->
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <button on:click={getParts} type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
          Cancel
        </button>
      </span>
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button type="button" on:click={saveFormData} class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
          Save
        </button>
      </span>
    </div>
  </div>
</form>
{/if}

{/await}
