<script>
  import { parse } from "qs";
  import axios from "axios";
  import { nest } from "d3-collection";
  import { onMount } from "svelte";
  import { querystring } from "svelte-spa-router";
  import { get } from "lodash";
  import { addMessage } from "../_stores/notifications";

  export let params = {};

  $: getRegister(params);

  $: console.log(params);

  let quantityPromise = Promise.resolve(true);
  let quantity = {};
  let companies = JSON.parse(localStorage.getItem("companies_object")) || {};
  let comments = "";
  let childs = [];
  let endpoint = "";
  let states = [
    { name: 'Receiving', nick: 'receiving' },
    { name: 'Stock', nick: 'stock' },
    { name: 'Inventory', nick: 'inventory' },
    { name: 'Transfer', nick: 'transfer' },
    { name: 'Import/Export', nick: 'import-export' },
    { name: 'Matamoros A', nick: 'matamoros-a' },
    { name: 'Matamoros B', nick: 'matamoros-b' },
    { name: 'Matamoros Closed', nick: 'matamoros-closed' },
  ]

  function isIn(location, transaction) {
    let locations = {
      'receiving': (t) => {
        if (
          t.receive_record != null &&
          t.receive_record.TRANS_REC_COMPLETED == 0
        ) { return 'is-primary' } else { return '' }
      },
      'stock': (t) => {
        if (
          t.receive_record != null &&
          t.receive_record.TRANS_REC_COMPLETED == 1 &&
          t.receive_record.TRANS_REC_CHECKBOX == 0 &&
          t.TRANS_LOCATION == 'RECEIVING'
        ) { return 'is-primary' } else { return '' }
      },
      'inventory': (t) => {
        if (
          t.receive_record != null &&
          t.receive_record.TRANS_REC_COMPLETED == 1 &&
          t.receive_record.TRANS_REC_CHECKBOX == 1 &&
          t.TRANS_LOCATION == 'WAREHOUSE'
        ) { return 'is-primary' } else { return '' }
      },
      'transfer': (t) => {
        if (
          t.TRANS_LOCATION == 'IMPORT/EXPORT' &&
          (t.TRANS_READY == 0 || t.TRANS_READY == null) &&
          (t.AUTHORIZE_CHECK == 1 ||
            (t.AUTHORIZE_CHECK == 0 && t.CANCEL_REASON == null)
          )
        ) { return 'is-primary' } else { return '' }
      },
      'import-export': (t) => {
        if (
          t.TRANS_LOCATION == 'IMPORT/EXPORT' &&
          t.TRANS_READY == 1 &&
          (t.TRANS_IE == 0 || t.TRANS_IE == null)
        ) { return 'is-primary' } else { return '' }
      },
      'matamoros-a': (t) => {
        if (
          t.TRANS_LOCATION == 'INTRANSIT-A' &&
          t.TRANS_READY == 1 &&
          (t.TRANS_IE == 1)
        ) { return 'is-primary' } else { return '' }
      },
      'matamoros-b': (t) => {
        if (
          t.TRANS_LOCATION == 'INTRANSIT-B' &&
          t.TRANS_READY == 1 &&
          (t.TRANS_IE == 1)
        ) { return 'is-primary' } else { return '' }
      },
      'matamoros-closed': (t) => {
        if (
          t.TRANS_CLOSED == 1
        ) { return 'is-primary' } else { return '' }
      },
    }
    return locations[location](transaction)
  }

  function getRegister(qs) {
    endpoint = params.transaction
      ? `api/warehouse/transaction/${params.transaction}`
      : `api/warehouse/transaction/by_stock/${params.trans_rec}`;

    quantityPromise = axios.get(endpoint).then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        console.log(res.data);
        quantity = res.data;
        return res.data;
      }
    });
  }
  function moveTransaction(location) {
    axios.put('api/warehouse/transaction/moveLocation/' + quantity.TRANSACTION_TABLE_ID, { transaction: quantity, location }).then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        addMessage({ type: "success", title: "Location changed", message: "" });
        getRegister(params)
      }
    });
  }
  if (Object.keys(companies).length === 0) {
    axios.get("api/admin/company").then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        companies = nest()
          .key(d => d.parasql_id)
          .object(res.data);
        localStorage.setItem("companies_object", JSON.stringify(companies));
        return res.data;
      }
    });
  }
</script>
<div class="px-4 sm:px-6 lg:px-8 overflow-auto">
  {#await quantityPromise}
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2
          class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl
          sm:leading-9 sm:truncate">
          Loading {params.transaction ? params.transaction : params.trans_rec} information from database...
        </h2>

      </div>
    </div>
  {:then _}
    {#if !quantity}
      <div class="md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <h2
            class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl
            sm:leading-9 sm:truncate">
            Part {params.transaction ? params.transaction : params.trans_rec} not found 🤷‍♂️
          </h2>
          <a
            href={params.transaction ? `#/transaction/by_receiving/${params.transaction}` : `#/transaction/by_transaction/${params.trans_rec}`}>
            Try looking {params.transaction ? params.transaction : params.trans_rec}
            as {params.trans_rec ? `transaction id` : `receiving id`}
          </a>
        </div>
      </div>
    {:else}
      <div class="bg-white shadow overflow-hidden">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Part Information
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
            US Information.
          </p>
        </div>
        <div class="px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 row-gap-8 sm:grid-cols-4">
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">ID</dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {quantity.TRANSACTION_TABLE_ID}
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">Receiving ID</dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                <a class="text-blue-700" href={`#/transaction/by_receiving/${quantity.TRANS_REC_ID}`}>
                  {quantity.TRANS_REC_ID}
                </a>
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Stock
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {quantity.STOCK_DT}
              </dt>
            </div>
            <div class="sm:col-span-1">
              <dd class="text-sm leading-5 font-medium text-gray-500">
                Company
              </dd>
              <dt class="mt-1 text-sm leading-5 text-gray-900">
                {get(quantity,'receive_record.company.COMPANY_NAME','no-receive record')}
              </dt>
            </div>
          </dl>
        </div>
      </div>

      <nav>
        <ul class="space-y-4 md:flex md:space-y-0 md:space-x-8">
          {#each states as loc}
          {#if isIn(loc.nick, quantity)}
          <li class="md:flex-1">
            <!-- Current Step -->
            <div class="pl-4 py-2 block border-l-4 border-indigo-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4">
              <h3 class="text-xs leading-4 text-indigo-600 font-semibold uppercase">{loc.name}</h3>
            </div>
          </li>
          {:else}
          <li class="md:flex-1">
            <!-- Upcoming Step -->
            <button disabled="{quantity.TRANS_REC_ID == null}" type="button" on:click|preventDefault={()=>moveTransaction(loc.nick)} href="#" class="group pl-4 py-2 block border-l-4 border-gray-200 hover:border-gray-300 focus:border-gray-400 transition ease-in-out duration-150 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4">
              <h3 class="text-xs leading-4 text-gray-500 font-semibold uppercase group-hover:text-gray-700 transition ease-in-out duration-150">{loc.name}</h3>
            </button>
          </li>
          {/if}
          {/each}
        </ul>
      </nav>
      
      <div class="hidden mt-8 sm:block">
        <div
          class="align-middle inline-block min-w-full border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr class="border-t border-gray-200">
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  <span class="lg:pl-2">Id</span>
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Part
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Qty
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Root Qty
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Width
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Comments
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Location
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
                  text-xs leading-4 font-medium text-gray-500 uppercase
                  tracking-wider">
                  Ref Trans
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
              {#each quantity.splits as item, index (item.ID)}
                <tr>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/quantity/${item.ID}`}
                        class="hover:text-blue-700">
                        <span>{item.ID}</span>
                      </a>
                    </div>
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/part/${item.PART}`}
                        class="hover:text-gray-700">
                        <span>{item.PART}</span>
                      </a>
                    </div>
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.QTY1}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.ROOT_QTY}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.QTY2}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.COMMENTS}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-gray-900">
                    {item.ITEM_LOCATION}
                  </td>
                  <td
                    class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                    font-medium text-blue-600">
                    <div class="flex items-center space-x-3 lg:pl-2">
                      <a
                        href={`#/transaction/${item.REF_TRANSACTION_ID}`}
                        class="hover:text-gray-700">
                        <span>{item.REF_TRANSACTION_ID}</span>
                      </a>
                    </div>
                  </td>
                  <td class="pr-6" />
                </tr>
              {/each}
              <!-- More project rows... -->
            </tbody>
          </table>
        </div>
      </div>
    {/if}
  {/await}

</div>
