<script>
  import axios from "axios";

  let loading = false;

  const sendFlushRequest = function() {
    loading = true;
    axios
      .post("api/database/flush_hosts")
      .then(() => {
        // TODO: implement success notification
      })
      .catch(() => {
        //   TODO: implement what happends when this fails
      })
      .finally(() => {
        loading = false
      });
  };
</script>

<div class="max-w-7xl min-h-full px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
    <div class="bg-white shadow sm:rounded-sm mx-auto">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Flush database hosts
        </h3>
        <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
          <p>In order to clean up database host an</p>
        </div>
        <div class="mt-5">
          <button
            type="button"
            disabled={loading}
            on:click={sendFlushRequest}
            class:disabled={loading}
            class="inline-flex items-center justify-center px-4 py-2 border
            border-transparent font-medium rounded-sm text-blue-700 bg-blue-100
            hover:bg-blue-50 focus:outline-none focus:border-blue-300
            focus:shadow-outline-blue active:bg-blue-200 transition ease-in-out
            duration-150 sm:text-sm sm:leading-5">
            {#if loading}
              <svg
                class="animate-spin mr-3 w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11
                  11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
              </svg>
            {/if}
            Flush database
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
