<script>
  import { parse } from "qs";
  import axios from "axios";
  import {nest} from 'd3-collection'
  import { onMount } from "svelte";
  import { querystring } from "svelte-spa-router";
  import {get} from 'lodash'

  export let params = {};
  $: getParts(params.part);
  let parts = Promise.resolve(true);
  let part = {};
  let companies = JSON.parse(localStorage.getItem("companies_object")) || {};
  function getParts() {
    parts = axios
      .get("api/review/part_dynamic", {
        params: {
          __include: "*",
          __order: "ENTRY_DT,desc",
          __limit: 60,
          PART: `=${params.part}`
        }
      })
      .then(res => {
        if (res.data.errors) {
          throw new Error(res.data.errors);
        } else {
          part = res.data[0];
          return res.data[0];
        }
      });
  }
  if (Object.keys(companies).length === 0) {
    axios.get("api/admin/company").then(res => {
      if (res.data.errors) {
        throw new Error(res.data.errors);
      } else {
        companies = nest().key( d => d.parasql_id).object(res.data);
        localStorage.setItem("companies_object", JSON.stringify(companies));
        return res.data;
      }
    });
  }
</script>
{#await parts}
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Loading {params.part} information from database...
    </h2>
  </div>
</div>
{:then _}
{#if !part}
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Part {params.part} not found  🤷‍♂️
    </h2>
  </div>
</div>
{:else}
<div class="bg-white shadow overflow-auto">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Part Information
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
      US Information.
    </p>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 row-gap-8 sm:grid-cols-4">
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Part</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.PART}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Sub Part</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.SUB_PART}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Part Cumple</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.MX_PART}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Sub Part Cumple
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.MX_SUB_PART}</dt>
      </div>
      <div class="sm:col-span-2">
        <dd class="text-sm leading-5 font-medium text-gray-500">Description</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.DESCRIPTION}</dt>
      </div>
      <div class="sm:col-span-2">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Description cumple
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.DESC_CUMPLE_US}
        </dt>
      </div>
      <div class="sm:col-span-2">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Description client
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.DESCRIPTION_CLIENT}
        </dt>
      </div>
      <div class="sm:col-span-2">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Description other
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.DESCRIPTION_OTHER}
        </dt>
      </div>
      <div class="sm:col-span-2">
        <dd class="text-sm leading-5 font-medium text-gray-500">Comments</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.COMMENTS}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Convertion factor
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.UM_CONVERSION}
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Company</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.COMPANY_ID} {get(companies, `${part.COMPANY_ID}.0.name`, '')}
        </dt>
      </div>
    </dl>
    <dl class="grid grid-cols-1 gap-x-4 row-gap-8 sm:grid-cols-5 pt-5">
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Origen US</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.ORIGIN_US}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">HTS US</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.HTS_US}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Price US</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          $ {part.US_PRICE} USD
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Unit of measure
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.UM_US}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Weight US</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.US_WEIGHT} LBS/{part.UM_US}
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Origen MX</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.ORIGIN_MX}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">HTS MX</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.HTS_MX}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Price MX</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          $ {part.MX_PRICE} USD
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Unit of measure
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.UM_MX}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Weight MX</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part.MX_WEIGHT} LBS/{part.UM_MX}
        </dt>
      </div>
    </dl>
    <dl class="grid grid-cols-1 gap-x-4 row-gap-8 sm:grid-cols-5 pt-5">
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Code</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.CODIGO}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Tipo de materia
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part['TIPO DE MATERIA']}
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Invoice type
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">
          {part['TIPO DE FACTURA']}
        </dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Regimen</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.REGIMEN}</dt>
      </div>
      <div class="sm:col-span-1">
        <dd class="text-sm leading-5 font-medium text-gray-500">Family</dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900">{part.FAMILIA}</dt>
      </div>
    </dl>
  </div>
  <div class="my-8 border-t border-gray-200 py-5 px-8">
    <div class="flex justify-end">
      <!-- <span class="inline-flex rounded-md shadow-sm">
          <button
            type="button"
            class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out"
          >Cancel</button>
        </span> -->
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button
          type="submit"
          class="inline-flex justify-center py-2 px-4 border border-transparent
          text-sm leading-5 font-medium rounded-md text-white bg-indigo-600
          hover:bg-indigo-500 focus:outline-none focus:border-indigo-700
          focus:shadow-outline-indigo active:bg-indigo-700 transition
          duration-150 ease-in-out">
          Cancel
        </button>
      </span>
    </div>
  </div>
</div>
{/if}
{/await}