<script>
  import { user, fetchUserRequest } from "../_stores/auth";
  import Logo from "./Logo.svelte";
  import Login from "./Login.svelte";
</script>

{#await fetchUserRequest}

  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20
      text-center sm:block sm:p-0">

      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" />
      &#8203;
      <div
        class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4
        text-left overflow-hidden shadow-xl transform transition-all sm:my-8
        sm:align-middle sm:max-w-sm sm:w-full sm:p-6"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-headline">
        <div>
          <Logo class="h-16 w-auto mx-auto" />
          <div class="mt-3 text-center sm:mt-5">
            <h3
              class="text-lg leading-6 font-medium text-gray-900"
              id="modal-headline">
              Loading...
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>

{:then}
  {#if $user}
    <slot />
  {:else}
    <Login />
  {/if}
{/await}
