<script>
  import { onMount, createEventDispatcher } from "svelte";
  import { get } from "lodash";

  let dispatch = createEventDispatcher();
  let values = {};
  export let filters = [];
  export let name = 'filter'

  $: console.log(values);
  function emitValues() {
    localStorage.setItem(name, JSON.stringify(values))
    dispatch('submit', values)
  }

  onMount( ()=>{
    values = JSON.parse(localStorage.getItem(name))
  })
</script>

<div class="mt-4 md:col-span-2">
  <form action="#" method="POST" on:submit|preventDefault={emitValues}>
    <div class="bg-gray-50">
      <div class="px-2 py-2">
        <div class="grid grid-cols-10 gap-2">
          {#each filters as f, i (i)}
            <div key="i" class="col-span-10 sm:col-span-5 lg:col-span-2">
              <label
                for={`id-${i}-${f.field}`}
                style="margin-bottom: .75rem;"
                class="block text-sm font-medium leading-5 text-gray-700">
                {#if f.required}<span class="text-red-500 font-bold">*</span>{/if}
                {f.label}
              </label>
              <input
                v-if="el.type ==='text'"
                id={`id-${i}-${f.field}`}
                on:keyup={e => {
                  if (e.keyCode === 27) {
                    values = { ...values, [f.field]: '' };
                    e.target.value = '';
                  }
                }}
                on:change={event => (values = { ...values, [f.field]: event.target.value })}
                value={get(values, f.field, '')}
                class="appearance-none bg-white p-1 text-base block w-full
                border border-gray-300 rounded-sm shadow-sm focus:outline-none
                focus:shadow-outline-blue focus:border-blue-300 transition
                duration-150 ease-in-out sm:text-sm sm:leading-5" />
            </div>
          {/each}
        </div>
      </div>
    </div>
    <div
      class="py-2 bg-gray-50 text-right px-2 flex flex-row justify-between
      space-x-2 content-start">
      <div
        class="flex-grow focus:outline-none focus:shadow-outline-blue
        focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm
        sm:leading-5" />
      <button type="submit" class="py-1 px-2 bg-blue-600 text-white font-bold">Search</button>
    </div>
  </form>
</div>
