<script>
  import { icons } from "./icons.js";
  let classname = "";
  let paths = []
  function updatePath(icon) {
    if (!Object.keys(icons).includes(this.name)) {
      throw Error(`${this.name} Does not exists`);
    }
    return icons[this.name].paths;
  }
  $: updatePath(icon);
  export let icon;
  export { classname as class };
</script>

<svg class={classname} stroke="currentColor" fill="none" :viewBox="viewBox">
  {#each paths as p, i (i)}
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d={p} />
  {/each}
</svg>
