<script>
  import Logo from "./Logo.svelte";
  import { login, respError } from "../_stores/auth";

  let email;
  let password;
  let remember;

  let showErrors = false
  let loading = false
  let message = ''
  let errors = []

  respError.subscribe(mes => {
    if( mes ) {
      showErrors = true
      message = mes.message
      errors = mes.errors || []
    } else {
      showErrors = false
      message = ''
      errors = []
    }
  })

  function onSubmit (){
    loading = true
    login({ email, password }).finally(() => {
      loading = false
    })
  }

  // $:console.log(email)
  // $:console.log(password)
  // $:console.log(remember)
</script>

<div
  class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6
  lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <Logo class="h-16 w-auto mx-auto" />
    <h2
      class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      {#if showErrors}
      <div class="rounded-md bg-yellow-50 p-4 mb-8">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg
              class="h-5 w-5 text-yellow-400"
              viewBox="0 0 20 20"
              fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75
                1.334-.213 2.98-1.742 2.98H4.42c-1.53
                0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012
                0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm leading-5 font-medium text-yellow-800">
              {message}
            </h3>
            <div class="mt-2 text-sm leading-5 text-yellow-700">
              {#each Object.keys(errors) as error, i (i) }
              <p>{errors[error]}</p>
              {/each}
            </div>
          </div>
        </div>
      </div>
      {/if}

      <form
        on:submit|preventDefault={() => onSubmit()}
        action="#"
        method="POST">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-5 text-gray-700">
            Numero de empleado
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input
              bind:value={email}
              email="email"
              type="email"
              required
              class="appearance-none block w-full px-3 py-2 border
              border-gray-300 rounded-md placeholder-gray-400 focus:outline-none
              focus:shadow-outline-blue focus:border-blue-300 transition
              duration-150 ease-in-out sm:text-sm sm:leading-5" />
          </div>
        </div>

        <div class="mt-6">
          <label
            for="password"
            class="block text-sm font-medium leading-5 text-gray-700">
            Password
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input
              bind:value={password}
              id="password"
              type="password"
              required
              class="appearance-none block w-full px-3 py-2 border
              border-gray-300 rounded-md placeholder-gray-400 focus:outline-none
              focus:shadow-outline-blue focus:border-blue-300 transition
              duration-150 ease-in-out sm:text-sm sm:leading-5" />
          </div>
        </div>

        <div class="mt-6 flex items-center justify-between">
          <!-- <div class="flex items-center">
            <input
              bind:checked={remember}
              id="remember"
              type="checkbox"
              class="form-checkbox h-4 w-4 text-indigo-600 transition
              duration-150 ease-in-out" />
            <label
              for="remember"
              class="ml-2 block text-sm leading-5 text-gray-900">
              Recordar credenciales?
            </label>
          </div> -->

          <div class="text-sm leading-5">
            <a
              href="#/recover_password"
              class="font-medium text-indigo-600 hover:text-indigo-500
              focus:outline-none focus:underline transition ease-in-out
              duration-150">
              Olvidaste tu password?
            </a>
          </div>
        </div>

        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button
              type="submit"
              disabled={loading}
              class={(loading ? 'opacity-50 cursor-not-allowed ' : '') + 
              `w-full flex justify-center py-2 px-4 border
              border-transparent text-sm font-medium rounded-md text-white
              bg-indigo-600 hover:bg-indigo-500 focus:outline-none
              focus:border-indigo-700 focus:shadow-outline-indigo
              active:bg-indigo-700 transition duration-150 ease-in-out`}>
              Sign in
            </button>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>
