<script>
  import Link from "./NavLink.svelte";
  import { location } from "svelte-spa-router";
  import Icon, {
    home,
    database,
    users,
    officeBuilding,
    userGroup,
    truck,
    globe,
    documentAdd,
    cube,
    scale,
    collection
  } from "@4mende2/svelte-heroicons";
  // import { createEventDispatcher } from "svelte";

  // const dispatch = createEventDispatcher();
// console.log('nav-log')
</script>

<nav class="px-3 mt-6">

  <div class="space-y-1">
    <Link on:click active={$location === '/'} href="#/">
      <Icon
        icon={home}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Home
    </Link>
    <Link
      on:click
      active={$location === '/database/flush'}
      href="#/database/flush">
      <Icon
        icon={database}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Database
    </Link>
    <Link on:click active={$location === '/users'} href="#/users">
      <Icon
        icon={users}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Users
    </Link>
    <Link on:click active={$location === '/companies'} href="#/companies">
      <Icon
        icon={officeBuilding}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Companies
    </Link>
    <Link on:click active={$location === '/groups'} href="#/groups">
      <Icon
        icon={userGroup}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Groups
    </Link>
    <Link on:click active={$location === '/carriers'} href="#/carriers">
      <Icon
        icon={truck}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Carriers
    </Link>
    <Link on:click active={$location === '/shippers'} href="#/shippers">
      <Icon
        icon={globe}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Shippers
    </Link>
    <Link on:click active={$location === '/import-parts'} href="#/import-parts">
      <Icon
        icon={documentAdd}
        class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
        group-focus:text-gray-600" />
      Import Part
    </Link>

  </div>
  <div class="mt-8">
    <!-- Secondary navigation -->
    <h3
      class="mt-8 px-3 text-xs leading-4 font-semibold text-gray-500 uppercase
      tracking-wider">
      Transactions
    </h3>
    <div class="mt-1 space-y-1" role="group" aria-labelledby="teams-headline">

      <Link on:click active={$location === '/part'} href="#/part">
        <Icon
          icon={cube}
          class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
          group-focus:text-gray-600" />
        Parts
      </Link>
      <Link on:click href="#/quantity" active={$location === '/quantity'}>
        <Icon
          icon={scale}
          class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
          group-focus:text-gray-600" />
        Quantities
      </Link>

      <Link on:click active={$location === '/transaction'} href="#/transaction">
        <Icon
          icon={collection}
          class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500
          group-focus:text-gray-600" />
        Transactions
      </Link>
    </div>
  </div>
  <div class="mt-8">
    <!-- Secondary navigation -->
    <h3
      class="mt-8 px-3 text-xs leading-4 font-semibold text-gray-500 uppercase
      tracking-wider">
      Costs
    </h3>
    <div class="mt-1 space-y-1" role="group" aria-labelledby="teams-headline">
      <Link on:click active={$location === '/packages'} href="#/packages">
        <span class="w-3 h-3 mr-4 bg-indigo-500 rounded-full" />
        <span class="truncate">Packages</span>
      </Link>
      <Link on:click active={$location === '/part-costs'} href="#/part-costs">
        <span class="w-3 h-3 mr-4 bg-teal-400 rounded-full" />
        <span class="truncate">Part</span>
      </Link>
      <Link
        on:click
        active={$location === '/special-charges'}
        href="#/special-charges">
        <span class="w-3 h-3 mr-4 bg-orange-500 rounded-full" />
        <span class="truncate">Special Charges</span>
      </Link>
      <Link
        on:click
        active={$location === '/cost-per-special-charge'}
        href="#/cost-per-special-charge">
        <span class="w-3 h-3 mr-4 bg-green-500 rounded-full" />
        <span class="truncate">Special Charge cost</span>
      </Link>
    </div>
  </div>
  <div class="mt-8">
    <!-- Secondary navigation -->
    <h3
      class="mt-8 px-3 text-xs leading-4 font-semibold text-gray-500 uppercase
      tracking-wider">
      Health check
    </h3>
    <div class="mt-1 space-y-1" role="group" aria-labelledby="teams-headline">
      <Link
        on:click
        active={$location === '/health-check'}
        href="#/health-check">
        <span class="w-3 h-3 mr-4 bg-indigo-500 rounded-full" />
        <span class="truncate">Healt check</span>
      </Link>
    </div>
  </div>
</nav>
