<script>
  import { onDestroy } from "svelte";
  import { blur } from "svelte/transition";
  import { messages, deleteMessage, clearAll } from "../_stores/notifications";
  import { expoOut, expoIn } from "svelte/easing";
  
  let msg = [];
  let ex = {
    type: ["default", "info", "success", "warning", "danger"][0],
    title: "title",
    message: "example",
    duration: 3000
  };

  messages.subscribe(m => {
    msg = m;
  });
</script>

{#if msg.length > 0}
  <div
    class="z-50 fixed inset-0 flex flex-col items-end justify-end px-4 py-4
    pointer-events-none sm:p-6 sm:items-end sm:justify-start">

    {#each msg as m, i}
      <div
        in:blur={{ duration: 150, easing: expoIn }}
        out:blur={{ duration: 150, easing: expoOut }}
        class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto
        my-1">
        <div class="rounded-lg shadow-xs overflow-hidden">
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
                {#if m.type === 'success'}
                  <svg
                    class="h-6 w-6 text-green-400"
                    viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0
                      00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2
                      2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd" />
                  </svg>
                {:else if m.type === 'warning'}
                  <svg
                    class="h-6 w-6 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75
                      1.334-.213 2.98-1.742 2.98H4.42c-1.53
                      0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1
                      0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd" />
                  </svg>
                {:else if m.type === 'danger'}
                  <svg
                    class="h-6 w-6 text-red-400"
                    viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0
                      00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414
                      1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414
                      10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                      clip-rule="evenodd" />
                  </svg>
                {:else if m.type === 'info'}
                  <svg
                    class="h-6 w-6 text-blue-400"
                    viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1
                      1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
                      100-2v-3a1 1 0 00-1-1H9z"
                      clip-rule="evenodd" />
                  </svg>
                {/if}
              </div>
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="text-sm leading-5 font-medium text-gray-900">
                  {m.title}
                </p>
                <p class="mt-1 text-sm leading-5 text-gray-500">{m.message}</p>
              </div>
              <div class="ml-4 flex-shrink-0 flex">
                <button
                  on:click={() => deleteMessage(i)}
                  class="inline-flex text-gray-400 focus:outline-none
                  focus:text-gray-500 transition ease-in-out duration-150">
                  <!-- Heroicon name: x -->
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
                      111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414
                      1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
                      4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {/each}
    <div
      in:blur={{ duration: 150, easing: expoIn }}
      out:blur={{ duration: 150, easing: expoOut }}
      class="max-w-sm w-full pointer-events-auto">
      <div class="overflow-hidden">
        <div>
          <div class="flex items-end">
            <div class="ml-3 w-0 flex-1 pt-0.5" />
            <div class="ml-4 flex-shrink-0 flex">
              <button
                on:click={clearAll}
                class="inline-flex text-gray-400 focus:outline-none
                focus:text-gray-500 transition ease-in-out duration-150
                underline shadow-sm p-2 bg-white">
                Clear all
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}
