<script>
  import Nav from "./Nav.svelte";
  import Logo from "./Logo.svelte";
  import { fly, fade } from "svelte/transition";
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  export let sideBarOpen;
</script>

<div class="lg:hidden">
  {#if sideBarOpen}
    <div class="fixed inset-0 flex z-40">
      <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      {#if sideBarOpen}
        <div
          in:fly={{ y: 3, x: 0, duration: 200 }}
          out:fly={{ duration: 200 }}
          class="fixed inset-0">
          <div class="absolute inset-0 bg-gray-600 opacity-75" />
        </div>
      {/if}
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      {#if sideBarOpen}
        <div
          in:fly={{ y: 3, x: 0, duration: 200 }}
          out:fly={{ duration: 200 }}
          class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4
          bg-white">
          <div class="absolute top-0 right-0 -mr-14 p-1">
            <button
              on:click={() => dispatch('sidebar-close')}
              class="flex items-center justify-center h-12 w-12 rounded-full
              focus:outline-none focus:bg-gray-600"
              aria-label="Close sidebar">
              <svg
                class="h-6 w-6 text-white"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex-shrink-0 flex items-center px-4">
            <Logo class="h-10 w-auto" />
          </div>
          <div class="mt-5 flex-1 h-0 overflow-y-auto">

            <slot />

          </div>
        </div>
        <div class="flex-shrink-0 w-14">
          <!-- Dummy element to force sidebar to shrink to fit close icon -->
        </div>
      {/if}
    </div>
  {/if}
</div>
