<script>
  import { fly, fade } from "svelte/transition";

  let isOpen = false;

</script>

<div class="ml-3 relative">
  <div>
    <button
      on:click={() => (isOpen = !isOpen)}
      class="max-w-xs flex items-center text-sm rounded-full focus:outline-none
      focus:shadow-outline"
      id="user-menu"
      aria-label="User menu"
      aria-haspopup="true">
      <svg
        class="w-8 h-8 rounded-full border-blue-600 border-2 text-blue-500"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
      </svg>
    </button>
  </div>
  <!--
              Profile dropdown panel, show/hide based on dropdown state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
  {#if isOpen}
    <div
      in:fly={{ y: 3, x: 0, duration: 200 }}
      out:fly={{ duration: 200 }}
      class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
      <div
        class="rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu">
        <div class="py-1">
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            View profile
          </a>
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            Settings
          </a>
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            Notifications
          </a>
        </div>
        <div class="border-t border-gray-100" />
        <div class="py-1">
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            Get desktop app
          </a>
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            Support
          </a>
        </div>
        <div class="border-t border-gray-100" />
        <div class="py-1">
          <a
            href="#"
            class="block px-4 py-2 text-sm leading-5 text-gray-700
            hover:bg-gray-100 hover:text-gray-900 focus:outline-none
            focus:bg-gray-100 focus:text-gray-900"
            role="menuitem">
            Logout
          </a>
        </div>
      </div>
    </div>
  {/if}
</div>
