<script>
  import { createEventDispatcher } from "svelte";

  let dispatch = createEventDispatcher();
  export let queries = [];
</script>

<div class="px-6 pt-3">
  <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
    Pinned Queries
  </h2>
  <ul
    class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    {#each queries as q}
      <li class="col-span-1 flex shadow-sm rounded-md">

        <button class="flex flex-grow" on:click={()=>dispatch('filter', q.query)}>
          <div
            class="flex-shrink-0 flex items-center justify-center h-full w-16
            bg-pink-600 text-white text-sm leading-5 font-medium rounded-l-md">
            {q.mask}
          </div>
          <div
            class="flex-1 flex items-start justify-between border-t border-r
            border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm leading-5 truncate">
              <span
                href="#"
                class="text-gray-900 font-medium hover:text-gray-600 transition
                ease-in-out duration-150 text-left flex-shrink-0">
                {q.name}
              </span>
              <p class="text-gray-500 flex-shrink-0">{q.count} {q.countLegend}</p>
            </div>
          </div>
        </button>
      </li>
    {/each}
  </ul>
</div>
