<script>
  import axios from "axios";
  import { onMount } from "svelte";
  import { user } from "../_stores/auth";
  import { nest } from "d3-collection";
  import { descending } from "d3-array";
  import { get, take } from "lodash";
  import { addMessage } from "../_stores/notifications";

  export let params = {};
  $: getAvailablePartList(params.client);

  let importingData = {};
  let partFilter = "";
  let filterSize = 20;
  let filterOnlyMissing = true;
  let state = "select";
  let categories = [];
  let divisions = [];
  let errors = {};
  let data = {
    parasql: [],
    inmotion: [],
    inmotionNest: {},
  };
  $: console.log(errors);

  function getAvailablePartList(client) {
    axios.get('api/parts/divisions').then( (d) => {
      console.log(d.data)
      divisions = d.data || []
    })
    axios
      .get("api/available-part-list/" + client)
      .then((d) => {
        data = d.data;
        data.inmotionNest = nest()
          .key((d) => d.part)
          .object(d.data.inmotion);
        data = data;
        categories = nest()
          .key((d) => d.category)
          .rollup((l) => l.length)
          .sortValues(descending)
          .entries(data.inmotion);
      })
      .catch((err) => {
        addMessage({
          type: "danger",
          title: "Error occured",
          message: err.response.data.message,
          duration: 4000,
        });
      });
  }

  function prepareImportPart(p) {
    state = "update";
    importingData = {};
    importingData.part = {
      part: p.PART,
      part_aka_customer: p.PART,
      description: p.DESCRIPTION,
      comments: "",
      company_id: p.COMPANY_ID,
      type: "raw_material",
      category: "",
      division: "",
      unit_of_measure_us: p.UM_US,
      unit_of_measure_mx: p.UM_MX,
      material_type: "material",
      origin: p.ORIGIN_US,
      cost_us: p.US_PRICE,
      is_internal: 0,
    };
  }
  function savePart() {
    axios
      .post("api/import-parasql-to-inmotion", importingData.part)
      .then((d) => {
        addMessage({
          type: "info",
          title: "Imported correctly",
          message: "Part: " + importingData.part.part,
          duration: 2000,
        });
        state = "select";
        getAvailablePartList(params.client);
      })
      .catch((err) => {
        errors = err.response.data.errors;
        addMessage({
          type: "danger",
          title: "Error occured",
          message: err.response.data.message,
          duration: 2000,
        });
      });
  }
</script>

<div class="overflow-y-auto px-4 sm:px-6 lg:px-8">
  {#if state === 'select'}
    <div>
      <label
        for="filter"
        class="block text-sm font-medium leading-5 text-gray-700 uppercase">Filter</label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <input
          bind:value={partFilter}
          class="form-input block w-full sm:text-sm sm:leading-5" />
      </div>
    </div>
    <div>
      <label
        for="filter"
        class="block text-sm font-medium leading-5 text-gray-700 uppercase">Elements</label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <input bind:value={filterSize} type="range" min="5" max="100" />
      </div>
    </div>
    <div class="mt-4">
      <div class="relative flex items-start">
        <div class="flex items-center h-5">
          <input
            bind:checked={filterOnlyMissing}
            id="candidates"
            type="checkbox"
            class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
        </div>
        <div class="ml-3 text-sm leading-5">
          <label for="candidates" class="font-medium text-gray-700">Only missing
            parts</label>
          <p class="text-gray-500">
            Get notified when a candidate applies for a job.
          </p>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Part in ParaSQL</th>
          <th>Part in InMotion</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {#each partFilter === '' ? take( data.parasql.filter((p) =>
                filterOnlyMissing
                  ? !data.inmotionNest.hasOwnProperty(p.PART)
                  : true
              ), filterSize ) : take( data.parasql
                .filter((p) =>
                  filterOnlyMissing
                    ? !data.inmotionNest.hasOwnProperty(p.PART)
                    : true
                )
                .filter((p) =>
                  p.PART.includes(partFilter)
                ), filterSize ) as p, i (p.PART)}
          <tr>
            <td>{p.PART}</td>
            <td>{get(data.inmotionNest, `${p.PART}.0.part`, '[null]')}</td>
            <td>
              {#if get(data.inmotionNest, `${p.PART}.0.part`, null) == null}
                <button
                  on:click={prepareImportPart(p)}
                  type="button"
                  class="text-blue-700">Import</button>
              {/if}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {:else}
    <form on:submit|preventDefault={savePart}>
      {#each Object.keys(importingData.part) as p, i (i)}
        <div>
          <label
            for={p}
            class="block text-sm font-medium leading-5 text-gray-700 uppercase">{p}</label>
          <div class="mt-1 relative rounded-md shadow-sm">
            <input
              on:change={(e) => (importingData.part[p] = e.target.value)}
              list={`${p}-list`}
              value={importingData.part[p]}
              id={p}
              class="form-input block w-full sm:text-sm sm:leading-5" />
          </div>
          {#if errors.hasOwnProperty(p)}
            <p class="mt-2 text-sm text-red-600" id="email-error">
              {errors[p][0]}
            </p>
          {/if}
        </div>
      {/each}
      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="inline-flex rounded-md shadow-sm">
            <button
              on:click={() => (state = 'select')}
              type="button"
              class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
              Cancel
            </button>
          </span>
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button
              type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Save
            </button>
          </span>
        </div>
      </div>
    </form>
  {/if}
</div>
<datalist id="category-list">
  {#each categories as c, i}
    <option value={c.key} />
  {/each}
</datalist>
<datalist id="division-list">
  {#each divisions as c, i}
    <option value={c.name} />
  {/each}
</datalist>
