<script>
  import { user } from "../_stores/auth";
  let companyFilter = "";
</script>

<div class="overflow-y-auto px-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl">Clients</h1>
  <label for="companyFilter">Filter by Company</label>
  <input
    id="companyFilter"
    type="text"
    bind:value={companyFilter}
    on:keyup={(e)=>{if(e.code === 'Escape'){companyFilter = ''}}}
    class="form-input block w-full sm:text-sm sm:leading-5" />
  <table>
    <thead>
      <tr>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      {#each $user.companies.filter((p) =>
      // console.log(p)
        companyFilter.length > 0 ? p.name.toLowerCase().includes(companyFilter) : true
      ) as c, i (c.id)}
        <tr>
          <td>
            <a
              class="text-blue-800"
              href={'#/import-parts/' + c.parasql_id}>{c.name}</a>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>
