<script>
  import Tailwindcss from "./Tailwindcss.svelte";
  import Router from 'svelte-spa-router'
  import Dashboard from './routes/Dashboard.svelte'
  import {wrap} from 'svelte-spa-router/wrap'
  import Wrap from "./routes/_template.svelte";

  let routes = {
    '/': Dashboard,
    
    '/users': wrap({ asyncComponent: ()=> import('./routes/users/users.svelte')}),
    
    '/import-parts': wrap({ asyncComponent: ()=> import('./routes/import/import.svelte')}),
    '/import-parts/:client': wrap({ asyncComponent: ()=> import('./routes/import/[client].svelte')}),

    '/part': wrap({ asyncComponent: ()=> import('./routes/part/part.svelte')}),
    '/part/:part': wrap({ asyncComponent: ()=> import('./routes/part/[part].svelte')}),
    '/part/edit/:part': wrap({ asyncComponent: ()=> import('./routes/part/edit/[part].svelte')}),

    '/database/flush': wrap({ asyncComponent: ()=> import('./routes/database/flush.svelte')}),
    
    '/quantity': wrap({ asyncComponent: ()=> import('./routes/quantity/quantity.svelte')}),
    '/quantity/:quantity': wrap({ asyncComponent: ()=> import('./routes/quantity/[quantity].svelte')}),
    
    '/transaction': wrap({ asyncComponent: ()=> import('./routes/transaction/transaction.svelte')}),
    '/transaction/by_transaction/:transaction': wrap({ asyncComponent: ()=> import('./routes/transaction/[transaction].svelte')}),
    '/transaction/by_receiving/:trans_rec': wrap({ asyncComponent: ()=> import('./routes/transaction/[transaction].svelte')}),
    

    '/r/:model': wrap({ asyncComponent: ()=> import('./routes/r/[model].svelte')}),
    '/r/edit/:model/:id': wrap({ asyncComponent: ()=> import('./routes/r/edit[model][id].svelte')}),
    '/r/create/:model': wrap({ asyncComponent: ()=> import('./routes/r/new[model].svelte')}),
    

    '*': wrap({ asyncComponent: ()=> import('./routes/_error.svelte')}),
  }

</script>

<Tailwindcss />
<Wrap>
  <Router {routes}/>
</Wrap>
