<script>
  import axios from "axios";
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import QueryFilter from "../_components/QueryFilters.svelte";
  import DataFilters from "../_components/DataFilters.svelte";

  let users = JSON.parse(localStorage.getItem("users")) || [];
  // let users = [];
  let queries = [];

  function setOptionMenu(index, value) {
    return () => {
      let np = users.slice().map(d => ({ ...d, menu: false }));
      np[index]["menu"] = value;
      users = np;
    };
  }
  function getParts() {
    runQuery({
      __include:
        "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
      __order: "ENTRY_DT,desc",
      PIX_PENDING: "=1",
      PIX_APPROVAL: "=0"
    });
  }

  let savedQueries = [
    {
      name: "In Warehouse",
      countLegend: "Parts",
      mask: "WHs",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        READY_US: "=0",
        READY_MX: "=0",
        PIX_APPROVAL: "=0",
        PIX_PENDING: "=0",
        CLIENT_APPROVAL_CHECK: "=0",
        STATUS: "=1006",
        CHECK_INQUEUE: "=1",
        ACTIVE: "=0"
      }
    },
    {
      name: "PIX Pending",
      countLegend: "Parts",
      mask: "PPe",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        PIX_PENDING: "=1",
        PIX_APPROVAL: "=0"
      }
    },
    {
      name: "Client",
      countLegend: "Parts",
      mask: "Cli",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        READY_US: "=1",
        CLIENT_APPROVAL_CHECK: "=0",
        READY_MX: "=0"
      }
    },
    {
      name: "Import/Export",
      countLegend: "Parts",
      mask: "I/E",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        READY_US: "=1",
        CLIENT_APPROVAL_CHECK: "=1",
        READY_MX: "=0"
      }
    },
    {
      name: "Last Relevant Parts",
      countLegend: "Parts",
      mask: "LsP",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        __limit: 60,
        SUB_PART: "MATERIA,EQUIPMENT"
      }
    },
    {
      name: "Last Parts",
      countLegend: "Parts",
      mask: "LsP",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        __limit: 60
      }
    },
    {
      name: "No Company",
      countLegend: "parts",
      mask: "NCo",
      count: 0,
      query: {
        __include:
          "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
        __order: "ENTRY_DT,desc",
        __limit: 60,
        COMPANY_ID: "null"
      }
    }
  ];

  function getPartQuery(event) {
    let base = {
      __include:
        "PART,DESCRIPTION,US_WEIGHT,UM_US,US_PRICE,HTS_US,ORIGIN_US,COMMENTS,ACTIVE",
      __order: "ENTRY_DT,desc",
    }
    let query = {...base, ...event.detail};
    runQuery(query);
  }

  let filters = [
    { field: 'PART', label: 'Part', type: 'text' },
    { field: 'DESCRIPTION', label: 'Description', type: 'text' },
    {
      field: 'COMPANY_ID', label: 'Company', type: 'dropdown', required: true,
      attrs: {
        autoselect: '*',
        source: 'user.user.companies',
        sourceType: 'store',
        value: 'parasql_id',
        label: 'name',
      }
    },
    { field: 'COMMENTS', label: 'Comments', type: 'text' },
    {
      field: 'SUB_PART', label: 'Material Type', type: 'dropdown',
      attrs: {
        autoselect: 'MATERIA',
        values: ['MATERIA', 'PRODUCTO TERMINADO', 'EQUIPO']
      }
    },
  ]

  function runQuery(query) {
    axios
      .get("api/admin/user", {
        params: query
      })
      .then(res => {
        if (res.data.errors) {
          console.log(res.data.errors);
        } else {
          users = res.data.map(d => ({ ...d, menu: false }));
          localStorage.setItem("users", JSON.stringify(users));
        }
      });
  }
  onMount(() => {
    if (users.length === 0) {
      getParts();
    }
  });
</script>
<svelte:head>
  <title>PIX: Users</title>
</svelte:head>
<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
  <!-- Page title & actions -->
  <div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center
    sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
      <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
        Users
      </h1>
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
      <!-- <span class="order-1 ml-3 shadow-sm rounded-md sm:order-0 sm:ml-0">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-gray-300
          text-sm leading-5 font-medium rounded-md text-gray-700 bg-white
          hover:text-gray-500 focus:outline-none focus:shadow-outline-blue
          focus:border-blue-300 active:text-gray-800 active:bg-gray-50
          transition duration-150 ease-in-out">
          Share
        </button>
      </span> -->
      <span class="order-0 sm:order-1 sm:ml-3 shadow-sm rounded-md">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent
          text-sm leading-5 font-medium rounded-md text-white bg-purple-600
          hover:bg-purple-500 focus:outline-none focus:shadow-outline-purple
          focus:border-purple-700 active:bg-indigo-700 transition duration-150
          ease-in-out">
          Create
        </button>
      </span>
    </div>
  </div>
  <!-- Pinned projects -->
  <!-- <QueryFilter queries={savedQueries} on:filter={getPartQuery} /> -->
  <DataFilters {filters} on:submit={getPartQuery} />
  <!-- Projects list (only on smallest breakpoint) -->
  <div class="mt-10 sm:hidden">
    <div class="px-4 sm:px-6">
      <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
        Projects
      </h2>
    </div>
    <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
      {#each users as item, index (item.id)}
      <li>
        <a
          href={`#/users/${item.id}`}
          class="flex items-center justify-between px-4 py-4 hover:bg-gray-50
          sm:px-6">
          <div class="flex items-center truncate space-x-3">
            <p class="font-medium truncate text-sm leading-6">
              {item.name}
              <span class="truncate font-normal text-gray-500">
                {item.email}
              </span>
            </p>
          </div>
          <!-- Heroicon name: chevron-right -->
          <svg
            class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500
            group-focus:text-gray-600 transition ease-in-out duration-150"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0
              011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>
      {/each}
      <!-- More project rows... -->
    </ul>
  </div>
  <!-- Projects table (small breakpoint and up) -->
  <div class="hidden mt-8 sm:block">
    <div class="align-middle inline-block min-w-full border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr class="border-t border-gray-200">
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider">
              <span class="lg:pl-2">Name</span>
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider">
              Email
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider">
              username
            </th>
            <th
              class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right
              text-xs leading-4 font-medium text-gray-500 uppercase
              tracking-wider" />
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-100">
          {#each users as item, index (item.id)}
            <tr>
              <td
                class="px-6 py-3 whitespace-no-wrap text-sm leading-5
                font-medium text-gray-900">
                <div class="flex items-center space-x-3 lg:pl-2">
                  <a href={`#/users/${item.id}`} class="hover:text-gray-600">
                    <span>{item.name}</span>
                  </a>
                </div>
              </td>
              <td
                class="truncate hidden md:table-cell px-6 py-3
                whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                {item.email}
              </td>
              <td
                class="truncate hidden md:table-cell px-6 py-3
                whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                {item.username}
              </td>
              <td class="pr-6">
                <div class="relative flex justify-end items-center">
                  <button
                    id="project-options-menu-0"
                    type="button"
                    on:click|preventDefault={setOptionMenu(index, true)}
                    class="w-8 h-8 inline-flex items-center justify-center
                    text-gray-400 rounded-full bg-transparent
                    hover:text-gray-500 focus:outline-none focus:text-gray-500
                    focus:bg-gray-100 transition ease-in-out duration-150">
                    <!-- Heroicon name: dots-vertical -->
                    <svg
                      class="w-5 h-5"
                      viewBox="0 0 20 20"
                      fill="currentColor">
                      <path
                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2
                        0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                    </svg>
                  </button>
                  <!--
                      Dropdown panel, show/hide based on dropdown state.

                      Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                      Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
                  {#if item.menu}
                    <div
                      on:click|preventDefault={setOptionMenu(index, false)}
                      class="fixed inset-0">
                      <div class="absolute inset-0 bg-gray-600 opacity-25" />
                    </div>
                    <div
                      transition:fade={{ duration: 100 }}
                      class="mx-3 origin-top-right absolute right-7 top-0 w-48
                      mt-1 rounded-md shadow-lg">
                      <div
                        class="z-10 rounded-md bg-white shadow-xs"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="project-options-menu-0">
                        <div class="py-1">
                          <a
                            href={`#/users/edit/${item.id}`}
                            class="group flex items-center px-4 py-2 text-sm
                            leading-5 text-gray-700 hover:bg-gray-100
                            hover:text-gray-900 focus:outline-none
                            focus:bg-gray-100 focus:text-gray-900"
                            role="menuitem">
                            <!-- Heroicon name: pencil-alt -->
                            <svg
                              class="mr-3 h-5 w-5 text-gray-400
                              group-hover:text-gray-500
                              group-focus:text-gray-500"
                              viewBox="0 0 20 20"
                              fill="currentColor">
                              <path
                                d="M17.414 2.586a2 2 0 00-2.828 0L7
                                10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                              <path
                                fill-rule="evenodd"
                                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1
                                0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                clip-rule="evenodd" />
                            </svg>
                            Edit
                          </a>
                        </div>
                        <div class="border-t border-gray-100" />
                        <div class="py-1">
                          <a
                            href="#"
                            class="group flex items-center px-4 py-2 text-sm
                            leading-5 text-gray-700 hover:bg-gray-100
                            hover:text-gray-900 focus:outline-none
                            focus:bg-gray-100 focus:text-gray-900"
                            role="menuitem">
                            <!-- Heroicon name: trash -->
                            <svg
                              class="mr-3 h-5 w-5 text-red-400
                              group-hover:text-red-500
                              group-focus:text-red-500"
                              viewBox="0 0 20 20"
                              fill="currentColor">
                              <path
                                fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000
                                2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0
                                100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1
                                0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1
                                0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                            </svg>
                            Delete
                          </a>
                        </div>
                      </div>
                    </div>
                  {/if}
                </div>
              </td>
            </tr>
          {/each}
          <!-- More project rows... -->
        </tbody>
      </table>
    </div>
  </div>
</main>
